<section id="video-background">
    <video autoplay muted loop id="myVideo" playsinline>
        <source src="../../assets/space.mp4" type="video/mp4">
    </video>

    <!-- Content overlay -->
    <div class="content mt-4 mb-4">
        <div class="card mx-auto">
            <img src="../../assets/user1.png" alt="Illustration" class="illustration">
            <h1 class="card-title">DEVENDRA PATIL</h1>
            <h2 class="card-subtitle">Crafting Exquisite Digital Symphony</h2>
            <p class="card-text">Hey there! I'm Devendra Patil, a passionate software developer with a versatile
                skill set. My journey began with C and C++, extending to mastering system-level intricacies. Over
                the years, I've honed my expertise in Java, Angular, Ionic breathing life into
                creative visions through clean and efficient code.</p>
            <p class="card-text">From optimizing algorithms to creating captivating user interfaces, I thrive on
                challenges that push the boundaries of innovation. With a strong commitment to quality and a
                collaborative mindset, I'm ready to bring your ideas to life.</p>
                <div class="social-icons">
                    <a href="https://www.github.com" class="fab fa-github"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com" class="fab fa-instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com" class="fab fa-linkedin-in"><i class="fab fa-linkedin-in"></i></a>
                </div>         
        </div>
    </div>
</section>